<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<input type="text">
	<button>실행</button>
	<div></div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>                           
  const btn = document.querySelector("button");
  btn.addEventListener("click", ( event ) => {
	  event.preventDefault();  
	  
	  const text = document.querySelector("input").value;	  
	  const res = axios({
		  url:"/getKakaoT",
		  method: "get",  
		  params: {
			  "text" : text
		  }
	  });
	  
	  res.then((result) => { 
		  console.log(result.data)
// 		  const message = result.data.message;
// 		  const res = message.result;
// 		  const translatedText = res.translatedText;
// 		  document.querySelector("div").innerHTML = `<h1>${translatedText}</h1>`;
    });
  });
</script>
</body>
</html>